
.toggleContainer{
	padding: 10px;
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	width: 1000px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.toggleButton{
	border: none;
	background-color: #eeeeee;

  	-moz-box-shadow: 3px 3px 3px #f0f0f0;
  	-webkit-box-shadow:  3px 3px 3px #f0f0f0;
  	box-shadow:  3px 3px 3px #f0f0f0;
}
